<div id="container">

  <header>
        <div id="logo" class="animated fadeInDown">
            <a href="#" target="_self">Code for Belgium</a>
        </div>
  </header>

  <section>    
        <div id="tagline">Code a better Country</div>
        
        <div id="buttons_box">
            <a href="https://twitter.com/intent/follow/?screen_name=codeforbelgium" target="_blank" class="button  animated fadeInLeft" id="twitter">follow us on twitter</a>
            <a href="/gitAuth" target="_blank" class="button animated fadeInRight" id="github">follow us on Github</a>
            <div class="clear_fix"></div>
        </div>
    </section>
    
    <footer>
      <div id="foot">
            <span class="blue"><a href="https://twitter.com/intent/follow/?screen_name=codeforbelgium">find us on twitter</a></span> | 
            <span class="grey"><a href="/gitAuth">find us on github</a></span>
        </div>
    </footer>
</div>

