<!--<div class="header">
   <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Login</a></li>
    <li><a ng-href="#">Register</a></li>
  </ul> -->
  <!-- <h3 class="text-muted">
    <div class="brand">
      <span class="black">Code</span>
      <span class="yellow">For</span>
      <span class="red">Belgium</span>
    </div>
  </h3> 
</div>-->

<div class="jumbotron">
  <div class="brand">
    <span class="black">Code</span>
    <span class="yellow">For</span>
    <span class="red">Belgium</span>
  </div>
  <br>

  <p>Join Us and Be part of an UNIQUE movement!</p>

  <div class="register">
    <a href="https://twitter.com/intent/follow/?screen_name=codeforbelgium" data-lang="en" class="btn btn-primary">Follow us on Twitter</a>
    <a href="/gitAuth" class="btn btn-primary">Register with Github</a>
  </div>
  
</div>

<!-- <div class="footer">
</div> -->
